.content {
  margin: auto;
}

.content h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 65px;
}

.content h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.content h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.content h4 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}
