.content {
  margin: auto;
}

.content h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 65px;
}

.content h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.content h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.content h4 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 30px;
}

.content h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 25px;
}

.content p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  /* color: #494957; */
}

.content img.my-portrait {
  position: absolute;
  border-radius: 50%;
}

.content img.loading-circle {
  position: relative;
  border-radius: 0;
  animation: rotate 5s linear infinite;
  transition: 0.8s;
}

.content div.about-me-title {
  position: relative;
}

.content h1.about-me-title, .content h2.about-me-title {
  margin: 0;
}

.content img.experience-logo {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-style: solid;
  border-radius: 50%;
  border-color: #000000;
  border-width: 1px;
}

@media (min-width: 800px) {
  .content div.my-portrait {
    margin: 50px;
    text-align: left;
  }

  .content img.my-portrait {
    width: 400px;
    height: 400px;
  }

  .comtent div.about-me-title {
    margin: -400px 0 0 350px;
  }

  .content div.about-me-title {
    margin: -400px 0 0 350px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .content div.my-portrait {
    margin: 50px auto 0 auto;
    text-align: center;
  }

  .content img.my-portrait {
    width: 300px;
    height: 300px;
  }

  .content div.about-me-title {
    text-align: center;
    margin: -80px auto 0 auto;
  }
}

@media (max-width: 600px) {
  .content div.my-portrait {
    margin: 50px auto 0 auto;
    text-align: center;
  }

  .content img.my-portrait {
    width: 250px;
    height: 250px;
  }

  .content div.about-me-title {
    text-align: center;
    margin: -80px auto 0 auto;
  }
}

@keyframes rotate {
	from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}